:root{
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);
    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    row-gap: 40px;
    column-gap: 40px;
    border-radius: 10px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main{
    width: 1440px;
    height: 1056px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-grid{
    width: 1300px;
    height: 930px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.subcontainer-grid-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.subcontainer-grid-left-up{
    background-color: var(--Yellow100);
}

.subcontainer-grid-left-down{
    background-color: var(--Yellow500);
}

.subcontainer-grid-right{
    display: grid;
    grid-template-rows: 2fr 1fr;
    
}

.subcontainer-grid-right-up{
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.subcontainer-grid-right-up-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.subcontainer-grid-right-up-left-up{
    background-color: var(--Purple500);
}

.subcontainer-grid-right-up-left-down{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.social-media{
    background-color: var(--White);
}

.calendar{
    background-color: var(--Yellow500);
}

.subcontainer-grid-right-up-right{
    background-color:var(--Purple100);
}

.subcontainer-grid-right-down{
    display: grid;
    grid-template-columns: 1fr 2.21fr;
    
}

.subcontainer-grid-right-down-left{
    background-color: var(--White);
}

.subcontainer-grid-right-down-right{
    background-color: var(--Purple500);
}


